/*body related styles*/
body {
  font-family: "Open Sans", sans-serif;

}
.primary-color{
    color: #fd6e0a;
}
/*nav related styles*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{
    font-family: open sans;
    font-style: normal;
    font-weight: 800 ;
    font-size: 45px;
    line-height: normal;
}
nav  ul {
    display: flex;
    align-items: center;
}
nav  li {
    list-style: none;
    margin-right: 50px;

}
nav a{
    text-decoration: none;
    color: #474747;
}
.header-class{
    background-color: #fff8f3;
    background-image: url('images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.primary-button{
    background-color: #fd6e0a;
    color: white;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;  
}

.banner{
    padding: 30px 30px 0px 220px;
    display: flex;
    align-items:center ;
    justify-content: space-between;
}
.banner-greeting{
    color: #474747;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 0;
}
.banner-title{
    font-size:80px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-bio{
    color: #474747;
    margin-top: 0;
    margin-bottom: 30px;
}
.cntc-btn{
    margin-left: 20px;
    background-color: #fd6e0a;
    color: white;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
}
.banner-content{
    max-width: 550px;
}
.profile-pic{
    width: 500px;
}
/*main section related styles*/
.main{
    max-width: 1140px;
}
.about{
    margin: 150px;
    padding: 130px;
    border-radius: 10px;
    background: #fff8f3;
    text-align: center;
}
.section-title{
    color: #181818;
    text-align: center;
    font-family: open sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
}
.section-bio{
    color: #757575;
    text-align: center;
    font-size: 18px;
    
    


}
/*about section related styles*/
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.info-title{
    margin-bottom: 0;
}
.info-bio{
    margin-top: 05px;
    color: #757575;

}
#what-i-do-bio{
    padding: 30px 150px;
    margin: 0 150px;
}
/*skills*/
.skills-container{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin: 0 150px;
    margin-bottom: 130px;
    
}
.skills{
    padding: 30px;
    border-radius: 5px;
    background-color: #faf0f0;
    box-shadow: 1px 6px 5px 0px rgba(0, 0, 0, 0.06);  
}
.skill-bio{
    color: #757575;

}



.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.resume-container{
    display:flex;
    gap: 70px;
    margin: 0px 150px;
    justify-content: center;
    
}
.resume-container hr{
    margin: 30px;
}
.resume-item-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}
.resume-item-institute, .resume-item-bio{
    color: #757575;
}
.download-cv{
    margin:  50px 0px;
    text-align: center;
}

/*footer*/
footer{
    display: flex;
    gap: 100px
;
    background-color: #fff8f3;
    padding: 130px 230px;
    margin-top: 100px;
}
.footer-column{
    width: 50%;

}
.contact input[type="text"],.contact input[type="email"], textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border: none;
}